* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    background-color: #F6F8F9;
}

.logo{
    padding-left: 50px;
    padding-top: 10px;
}


.titolo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 0 10px;
}

.testata{
    margin: 0%;
    background-color: white;
}

.contenitore{
    background-color: white;
    height: 650px;
    width: 1020px;
    margin: 40px auto;
    border-radius: 15px;
}

nav{
    height: 50px;
}
.bottone{
    background-color: #47ADF1;
    border-radius: 5px;
    border: #47ADF1;
    height: 30px;
    width: 70px;
    font-family: Arial Rounded MT Bold;
    color: white;
    margin: 10px 80px; 
}

.bottone-vuoto{
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-family: Arial Rounded MT Bold;
    color: lightgrey;
    margin: 10px -75px; 
}

.blocco{
    margin: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(78, 78, 78);
}

ul{
    list-style: none;
    list-style-image: url(../html-css-toboolist/img\ 2/frecciagiù.png);
}

