* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    background-color: #F6F8F9;
}

.logo{
    padding-left: 50px;
    padding-top: 10px;
}


.titolo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 0 10px;
}

.testata{
    margin: 0%;
    background-color: white;
}

.contenitore{
    background-color: white;
    height: 650px;
    width: 1020px;
    margin: 40px auto;
    border-radius: 15px;
}

nav{
    height: 50px;
}
.bottone{
    background-color: #47ADF1;
    border-radius: 5px;
    border: #47ADF1;
    height: 30px;
    width: 70px;
    font-family: Arial Rounded MT Bold;
    color: white;
    margin: 10px 80px; 
}

.bottone-vuoto{
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-family: Arial Rounded MT Bold;
    color: lightgrey;
    margin: 10px -75px; 
}

.blocco{
    margin: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(78, 78, 78);
}

.subtitoli{
    font-weight: 600;
}

.done{
    list-style-image: url("img 2/checkboxdone.png");
    font-size: 18px;
    margin: 20px 25px;
}

.fail{
    list-style-image: url("img 2/checkboxfail.png");
    font-size: 18px;
    margin: 20px 25px;
}

.bottone-categoria-blue{
    background-color: #47ADF1;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}

.bottone-categoria-violet{
    background-color: #9C72E4;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}
.bottone-categoria-green{
    background-color: #64C0A9;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}
.bottone-categoria-orange{
    background-color: #F29E33;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}

.bottone-categoria-pink{
    background-color: #D863A1;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}
.bottone-categoria-acid-green{
    background-color: #B0C926;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 6px 9px;
}